In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd
train = pd.read_csv("../Data/parking_demand/train_df_errno.csv")
test = pd.read_csv("../Data/parking_demand/test_df.csv")
sub = pd.read_csv("../Data/parking_demand/sample_submission.csv")
age = pd.read_csv("../Data/parking_demand/age_gender_info.csv")
train.shape, test.shape, sub.shape, age.shape

((2896, 15), (1008, 14), (150, 2), (16, 23))

In [4]:
train.describe()

,총세대수,전용면적,전용면적별세대수,공가수,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
count,2896.000000,2896.000000,2896.000000,2896.000000,2685.000000,2892.000000,2896.000000,2896.000000
mean,891.025207,44.559033,102.822514,12.877417,0.180261,3.703320,598.766575,558.315953
std,516.665211,32.000640,132.988590,10.653686,0.431074,2.666876,396.677644,437.015694
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,514.000000,32.100000,14.750000,4.000000,0.000000,2.000000,277.000000,209.000000
50%,780.000000,39.905000,60.000000,11.000000,0.000000,3.000000,507.000000,481.000000
75%,1106.000000,51.292500,143.250000,20.000000,0.000000,4.000000,823.000000,763.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000